export default {{ properCase name }};

/**
 *
 * {{ properCase name }}
 *
 */
import React from 'react';
import PT from 'prop-types';
import {} from 'semantic-ui-react';


const {{ properCase name }} = ({ children, ...props }) =>
  <div>
    {/* language=CSS */}
    <style jsx>
      {` `}
    </style>
    <p>{{ properCase name }}!!</p>
  </div>;

{{ properCase name }}.defaultProps = {};

{{ properCase name }}.propTypes = {};

export default {{ properCase name }};